<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos para acceder a la galería y la cámara -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Configuración de las versiones de Android para compatibilidad con el acceso al almacenamiento externo -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BovinoSmart"
        tools:targetApi="31">

        <!-- Actividad de gestión de productos -->
        <activity
            android:name=".producto.GestionProductos"
            android:exported="false"
            android:label="Gestión de Productos"
            android:screenOrientation="portrait" />

        <!-- Actividad de gestión de animales -->
        <activity
            android:name=".animales.GestionAnimalesActivity"
            android:exported="false"
            android:label="Gestión de Animales"
            android:screenOrientation="portrait" />

        <!-- Actividad de gestión de enfermedades -->
        <activity
            android:name=".Enfermedades.GestionEnfermedades"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!-- Actividad de gestión del historial de enfermedades -->
        <activity
            android:name=".Enfermedades.GestionHistorialEnfermedades"
            android:exported="false"
            android:label="Historial de Enfermedades"
            android:screenOrientation="portrait" />

        <!-- Actividad de menú -->
        <activity
            android:name=".menu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.BovinoSmart.Fullscreen"
            android:screenOrientation="portrait" />

        <!-- Actividad de login -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Actividad principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BovinoSmart"
            android:screenOrientation="portrait" />

        <!-- Actividad Historial Producto -->
        <activity
            android:name=".Productos.GestionHistorialProductos"
            android:exported="false"
            android:label="Historial de Productos"
            android:screenOrientation="portrait" />

        <!-- Actividad control de baños -->
        <activity
            android:name=".controlbanos.GestionControlBanosActivity"
            android:exported="false"
            android:label="Control de Baños"
            android:screenOrientation="portrait" />

        <!-- Actividad produccion de leche -->
        <activity
            android:name=".ProduccionLeche.GestionProduccionLecheActivity"
            android:exported="false"
            android:label="produccion de leche"
            android:screenOrientation="portrait" />

    </application>

</manifest>
