:root {
  --primary-color: #4CAF50; /* Verde principal de la app */
  --secondary-color: #81c784; /* Verde secundario */
  --background-color: #f0f4f7; /* Fondo general */
  --text-color: #333; /* Color del texto principal */
  --error-color: #d9534f; /* Rojo para errores */
  --success-color: #4CAF50; /* Verde para éxito */
  --border-radius: 10px; /* Bordes redondeados */
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra de los elementos */
  --font-family: 'Kaisei Decol', sans-serif; /* Fuente principal del proyecto */
}

.activar-licencia-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: var(--border-radius);
  background-color: var(--background-color);
  box-shadow: var(--box-shadow);
}

.activar-licencia-container h1 {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-family: var(--font-family);
  font-size: 2em;
  text-align: center;
}

.activar-licencia-container input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  font-size: 1em;
  background-color: #fff;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border 0.3s ease-in-out;
}

.activar-licencia-container input:focus {
  outline: none;
  border-color: var(--secondary-color);
}

.activar-licencia-container button {
  width: 100%;
  padding: 15px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.activar-licencia-container button:hover {
  background-color: var(--secondary-color);
}

.activar-licencia-container button:active {
  transform: scale(0.98);
}

.mensaje {
  margin-top: 15px;
  color: var(--success-color);
  font-size: 1em;
  text-align: center;
}

.mensaje-error {
  margin-top: 15px;
  color: var(--error-color);
  font-size: 1em;
  text-align: center;
}

/* Estilo para la imagen de fondo decorativa */
.background-decorative {
  position: fixed;
  top: -30vh;
  right: 0;
  z-index: -1;
  background-image: url('../diseño/Manchas2.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 30vw;
  height: 30vw;
  transform: scaleX(-1) scaleY(-1);
  opacity: 0.1;
}
