
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ######################### Default Style ############################## */
html {
    font-size: 16px;
}

p,
a,
span,
li {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 0;
}

li {
    list-style: none;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

a,
span {
    display: inline-block;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.p-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

h1 {
    font-size: 9rem;
}

@font-face {
    font-family: "Good Times Rg";
    src: url("https://www.yudiz.com/codepen/artificial-intelligence/fonts/good_times/GoodTimesRg-Regular.eot");
    src: url("https://www.yudiz.com/codepen/artificial-intelligence/fonts/good_times/GoodTimesRg-Regular.eot?#iefix") format("embedded-opentype"),
        url("https://www.yudiz.com/codepen/artificial-intelligence/fonts/good_times/GoodTimesRg-Regular.woff2") format("woff2"),
        url("https://www.yudiz.com/codepen/artificial-intelligence/fonts/good_times/GoodTimesRg-Regular.woff") format("woff"),
        url("https://www.yudiz.com/codepen/artificial-intelligence/fonts/good_times/GoodTimesRg-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.text-pipe {
    position: relative;
    padding-left: 0.875rem;
}

.red-text {
    color: #ff5858 !important;
}

.blue-text {
    color: #00b2ff !important;
}

.text-pipe::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 0.25rem;
    background: #00b2ff;
    left: 0;
    top: 0;
}




.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    column-gap: 3rem;
}

.menu li a {
    color: rgba(155, 155, 155, 1);
}

.banner {
    overflow: hidden;
    height: 100vh;
    position: relative;
    background: black;
    font-family: "Good Times Rg";
    background-color: #000;
    color: #fff;
}

.robot {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 5;
    max-width: 48%;
    text-align: center;
}

.robot img {
    max-width: 50%;
}

.banner::before,
.banner::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    background: #00b3ff73;
    filter: blur(595px);
    z-index: 0;
}

.banner::after {
    right: 0;
    left: unset;
    background: #ff585878;
    filter: blur(870px);
}

.circuit-art {
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    filter: brightness(2);
}

.circuit-art.red {
    right: 0;
    left: unset;
    text-align: right;
}

.machine-art {
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.machine-art-container {
    position: relative;
    transform-origin: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.machine-art-container.active {
    animation: rotate 20s infinite linear alternate-reverse;
}

.machine-lights-container {
    position: absolute;
    top: 51%;
    left: 50.2%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.machine-lights-container img {
    animation: rotate-reverse-shut 2s ease-in;
}

.machine-lights-container.active img {
    animation: rotate-reverse 20s infinite alternate-reverse;
    aspect-ratio: 1 / 1;
    width: 72%;
}

@keyframes rotate {

    0%,
    100% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(150deg);
    }

    75% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-reverse {

    0%,
    100% {
        transform: rotate(360deg);
        opacity: 0.5;
    }

    25% {
        transform: rotate(-180deg);
        opacity: 0.7;
    }

    50% {
        transform: rotate(-150deg);
        opacity: 0.2;
    }

    55% {
        opacity: 1;
    }

    57% {
        filter: brightness(100);
    }

    59% {
        opacity: 0.1;
        filter: brightness(2);
    }

    63% {
        opacity: 1;
        filter: brightness(80);
    }

    70% {
        opacity: 0.2;
        filter: brightness(15);
    }

    71% {
        opacity: 0.7;
        filter: brightness(90);
    }

    72% {
        opacity: 1;
        filter: brightness(5);
    }

    73% {
        opacity: 0.5;
        filter: brightness(73);
    }

    74% {
        opacity: 0.3;
        filter: brightness(1);
    }

    75% {
        opacity: 0.9;
        filter: brightness(0);
    }

    76% {
        opacity: 1;
        filter: brightness(3);
    }

    77% {
        opacity: 0.1;
        filter: brightness(18);
    }

    78% {
        opacity: 0.9;
        filter: brightness(57);
    }

    79% {
        opacity: 0.4;
        filter: brightness(4);
    }

    80% {
        opacity: 0.1;
        filter: brightness(98);
    }

    81% {
        opacity: 1;
        filter: brightness(6);
    }

    82% {
        opacity: 0.7;
        filter: brightness(47);
    }

    83% {
        opacity: 0.7;
        filter: brightness(0);
    }

    84% {
        opacity: 0.3;
        filter: brightness(100);
    }

    85% {
        transform: rotate(-360deg);
        opacity: 1;
        filter: brightness(5);
    }
}

@keyframes rotate-reverse-shut {

    0%,
    100% {
        transform: rotate(0deg);
        opacity: 0.5;
    }

    25% {
        transform: rotate(80deg);
        opacity: 0.7;
    }

    50% {
        transform: rotate(50deg);
        opacity: 0.2;
    }

    55% {
        opacity: 1;
    }

    57% {
        filter: brightness(100);
    }

    59% {
        opacity: 0.9;
        filter: brightness(2);
    }

    63% {
        opacity: 0.8;
        filter: brightness(80);
    }

    70% {
        opacity: 0.7;
        filter: brightness(15);
    }

    71% {
        opacity: 0.6;
        filter: brightness(90);
    }

    72% {
        opacity: 1;
        filter: brightness(5);
    }

    73% {
        opacity: 0.4;
        filter: brightness(73);
    }
}

.banner-content {
    position: relative;
    z-index: 50;
    padding-top: 10rem;
}

.banner-title h1 {
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 153.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    left: 0px;
    margin-top: -100px;

}

.blue-content p {
    color: #9b9b9b;
}

.blue-content a {
    margin-top: 2rem;
    padding: 0.75rem 2rem 0.75rem 1rem;
    border: 2px solid;
    border-image-source: linear-gradient(259.5deg, #ffffff -35.16%, rgba(255, 255, 255, 0) 153.09%);
    position: relative;
    border-image-slice: 1;
    transform: skewX(-36deg);
}

.blue-content a p {
    color: white;
    transform: skewX(36deg);
    position: relative;
    z-index: 1;
}

.blue-content a::before {
    content: "";
    position: absolute;
    left: 30%;
    bottom: -2px;
    height: 2px;
    width: 0.75rem;
    background-color: #0f2133;
}

.blue-content a.active img {
    animation: cd-rotate 2s infinite linear;
}

.blue-content a span:not(.arrow) {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%) skewX(36deg);
    z-index: 2;
}

.arrow {
    position: absolute;
    height: 5px;
    width: 5px;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%) skewX(15deg);
    border: 1px solid white;
    border-bottom: transparent;
    border-left: transparent;
}

.red-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.polygone-container {
    display: flex;
    gap: 2px;
}

.polygone {
    position: relative;
    width: 112px;
    aspect-ratio: 1 / 0.9;
}

.polygone::before {
    content: "";
    position: absolute;
    height: calc(100% + 2px);
    width: calc(100% + 2px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3337710084033614) 17%, rgba(255, 88, 88, 1) 100%);
}

.polygone img {
    object-fit: cover;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    position: absolute;
    width: 100%;
    height: 100%;
    object-position: center top;
}

.polygone-content {
    margin-left: -8px;
}

.polygone-content p {
    color: white;
    padding: 8px 0 0 24px;
}

.polygone-content .red-text {
    padding: 16px 0 8px 20px;
    border: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(85.3deg, #ff5858 14.01%, rgba(255, 88, 88, 0) 96.93%);
    border-top: transparent;
    transform: skewX(29deg);
}

.polygone-content .red-text span {
    transform: skewX(-29deg);
}

.red-content .polygone-container:nth-child(2) {
    flex-direction: row-reverse;
}

.red-content .polygone-container:nth-child(2) .polygone-content .red-text,
.red-content .polygone-container:nth-child(2) .polygone-content .red-text span {
    transform: skewX(-29deg) scaleX(-1);
}

.red-content .polygone-container:nth-child(2) .polygone-content p {
    padding: 8px 12px 0 14px;
}

.red-content .polygone-container:nth-child(2) .polygone-content .red-text {
    padding: 8px 0 8px 14px;
}

.red-content .polygone-container:nth-child(2) .polygone-content {
    margin-right: -8px;
}



.letter-container {
    position: fixed;
    top: 700px;
    /* Desplaza todas las letras hacia abajo */
    left: -10px;
    /* Mantén este valor si no deseas mover las letras horizontalmente */
}

/* Si quieres que las letras se alineen correctamente en el contenedor */
.letter-b,
.letter-O,
.letter-VINO {
    position: fixed;
    font-size: 9rem;
}







.smart-container {
    position: fixed;
    top: 715px;
    /* Desplaza todas las letras de "Smart" hacia abajo */
    left: 800px;
    /* Mantén este valor si no deseas mover las letras horizontalmente */
}



/* Si quieres que las letras se alineen correctamente en el contenedor */
.letter-H,
.Smartxd {
    position: fixed;
    font-size: 9rem;
    /* Ajusta este valor según el tamaño deseado */
}


.Smartxd {
    left: 0px;
    top: -5px;
}

.letter-H {

    left: 665px;
    top: -5px;
}

.letter-b {

    left: 10px;
    top: 10px;
}

.letter-O {

    left: 150px;
    top: 10px;
}

.letter-VINO {

    left: 300px;
    top: 10px;
}



.response-container {
    position: relative;
    z-index: 10;
    left: -180px;
    top: 30px;
    padding: 10px;
    background-color: rgba(211, 40, 40, 0);
    border-radius: 8px;
    text-align: center;
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
}
.response-title{
    color: #8AC879;
}

.response{
    color: #8AC879; /* Color para el texto de la respuesta */
}
.boon-bane-container {
    position: relative;
    padding-inline: 90px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.letter-b,
.letter-O,
.letter-VINO,
.letter-H {
    position: absolute;
    z-index: 0;
}

.boon,
.bane {
    position: relative;
}

.boon {
    top: 3px;
}

.bane {
    top: 50px;
    left: -700px;
}

.bane h1.active span {
    animation: flicker 3s alternate-reverse infinite;
}

.boon h1.active span {
    animation: flicker 6s linear infinite;
}

.boon h1 {
    color: #71AF61;
    font-weight: bolder;
    animation: shut-flickers-blue 2s linear;
    opacity: 0.4;
    transition-duration: 0.5s;
}

.bane h1,
.menu a {
    color: #587A83;
    font-weight: bolder;
    animation: shut-flickers 2s linear;
    opacity: 0.4;
}

.boon h1.active {
    animation: flicker-full 8s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    text-shadow: 0px 0px 20px #71AF61;
}

.menu a:hover {
    animation: flicker-full 3s alternate-reverse infinite;
    color: rgb(209 73 74 / 55%) !important;
    text-shadow: 0px 0px 20px #b91515;
}

.bane h1.active {
    animation: flicker-full 8s linear infinite;
    text-shadow: 0px 0px 20px #587A83;
}

.robot img {
    position: relative;
    width: 250px;
    left: 650px;
    top: -300px;
    animation: hue 20s infinite alternate-reverse;
}

@media (min-width: 1399px) {
    .robot img {
        max-width: 448px;
    }
}

@keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: 0.1;
    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.8;
    }
}

@keyframes hue {
    from {
        filter: hue-rotate(-360deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

@keyframes flicker-full {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: 0.99;
    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
    }
}

@keyframes shut-flickers {
    from {
        opacity: 1;
        text-shadow: 0px 0px 0px #b91515;
    }

    to {
        opacity: 0.4;
        text-shadow: 0px 0px 20px #b91515;
    }
}

@keyframes shut-flickers-blue {
    from {
        opacity: 1;
        text-shadow: 0px 0px 0px #1778d2;
    }

    to {
        opacity: 0.4;
        text-shadow: 0px 0px 20px #1778d2;
    }
}

@keyframes cd-rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Asegura que el formulario y la respuesta estén delante */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
    height: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.25rem;
    border-radius: 8px;
    border: 2px solid #00b2ff;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.button {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    font-size: 1.25rem;
    background-color: #00b2ff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
}

.form{
    color: #d82222;
}