.About {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.cabecera {
  background-color: rgb(33, 34, 34);
  height: 80px;
  width: 100%;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1.5px solid #ffffff;
}

.Primera_Imagen {
  background-image: url('../imagenes/Ganao.jpg');
  background-position: center;
  width: 100%;
  height: 85vh;
  position: relative; /* Cambia de absolute a relative */
  top: 0;
  left: 0;
  background-size: cover;
}


h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  width: 100%;
  color: #3E7B31;
  font-size: 90px;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 2px black;
}

h2 {
  position: relative;
  color: #d4af36;
  padding-top: 30px;
}

.Bovino-texto {
  font-size: 40px;
  color: #d4af36;
  position: relative;
  -webkit-text-stroke: 0.2px rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  white-space: nowrap;
  cursor: default;
}


.Descripcion {
  text-align: justify;
  max-width: 900px;
  padding: 20px;
  color: rgb(0, 0, 0);
  font-family: 'Lucida Sans', sans-serif;
  font-size: 17px;
  margin: 0 auto; /* Ajusta el margin-top aquí */
}

.Franja_Enmedio {
  background-color: rgba(23, 23, 23, 255);
  height: 20px; /* Ajusta este valor según tus necesidades */
  width: 100%;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}

.info-section {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.info-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  margin: 10px;
  max-width: 200px;
}

.info-box h3 {
  color: #3E7B31;
  margin-bottom: 10px;
}

.info-box p {
  color: #333;
}

.image-slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image-slider img.active {
  opacity: 1;
}

.cuadro-fijo {
  position: fixed;
  top: 300px;
  right: 0;
  width: 75px;
  height: 270px;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.ico1, a.ico2, a.ico3,a.ico4 {
  text-decoration: none;
  color: #000000;
  margin-bottom: 20px;
}

a.ico1 i, a.ico2 i, a.ico3 i, a.ico4 i {
  width: 40px; /* Ancho igualado */
  height: 40px; /* Altura igualada */
  line-height: 40px; /* Alineación vertical */
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding: 0; /* Quita el padding extra para asegurar el círculo perfecto */
  border-radius: 50%;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  margin-top: 10px;
}


a.ico1:hover i {
  color: #2992FB;
  box-shadow: 0 0 10px #2992FB, 0 0 20px #2992FB;
}

a.ico2:hover i {
  color: #00acee;
  box-shadow: 0 0 10px #00acee, 0 0 20px #00acee;
}

a.ico3:hover i {
  color: rgb(175, 39, 168);
  box-shadow: 0 0 10px rgb(175, 39, 168), 0 0 20px rgb(175, 39, 168);
}

a.ico4:hover i {
  color: #69C9D0;
  box-shadow: 0 0 10px #69C9D0, 0 0 20px #69C9D0;
}
