@import url('https://fonts.googleapis.com/css2?family=Junge&family=Kaisei+Decol&display=swap');

.About {
  margin: 0;
  padding: 0;
  font-family: 'Junge'; /* Aplica la fuente Junge */
  color: #333;
  overflow-x: hidden;
  background-color: #f4f4f4; /* Fondo claro para un mejor contraste */
}

.cabecera {
  background-color: #212121;
  height: 80px;
  width: 100%;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
  border-bottom: 1.5px solid #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Kaisei Decol'; /* Aplica la fuente Kaisei Decol */
  font-size: 25px;
  font-weight: 400;
  line-height: 36.2px;
}

.Primera_Imagen {
  background-image: url('../imagenes/Ganao.jpg');
  background-position: center;
  width: 100%;
  height: 85vh;
  position: relative;
  top: 0;
  left: 0;
  background-size: cover;
  filter: brightness(0.6);
  animation: moveBackground 30s linear infinite;
}

@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

h1 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  width: 100%;
  color: #3E7B31;
  font-size: 80px;
  font-weight: 900;
  text-align: center;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
  font-family: 'Junge'; /* Aplica la fuente Junge */
}

h2 {
  position: relative;
  color: #579549;
  font-size: 50px;
  text-align: center;
  margin-top: 30px;
  font-weight: 700;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  font-family: 'Junge'; /* Aplica la fuente Junge */
}

.Bovino-texto {
  font-size: 40px;
  color: #3E7B31;
  position: relative;
  -webkit-text-stroke: 0.5px rgba(53, 129, 43, 0.7);
  font-family: 'Junge'; /* Cambia a fuente Junge */
  white-space: nowrap;
  cursor: default;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

.Descripcion {
  text-align: justify;
  max-width: 900px;
  padding: 40px; /* Incrementa el padding para mayor espacio */
  color: #3E7B31; /* Color del texto más oscuro */
  font-family: 'Kaisei Decol'; /* Aplica la fuente Kaisei Decol */
  font-size: 18px;
  margin: 0 auto;
  line-height: 1.8;
  background: linear-gradient(145deg, #ffffff, #f1f1f1); /* Fondo con gradiente suave */
  border-radius: 20px; /* Bordes más redondeados */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
  border: 2px solid #71AF61; /* Borde de color que combina con la paleta */
  position: relative;
  transition: all 0.3s ease-in-out;
}

.Descripcion::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  background: rgba(113, 175, 97, 0.2); /* Resplandor suave alrededor del borde */
  z-index: -1;
  border-radius: 25px; /* Alineado con los bordes redondeados del contenedor */
}

/* Contenedor de las Hojas o Pasto */
.hojas {
  position: absolute;
  width: 100px; /* Ajusta el tamaño según la imagen */
  height: 100px;
  background: url('../imagenes/Hojas.png') no-repeat center center; /* Imagen decorativa */
  background-size: contain;
  transform: none; /* Asegura que no haya transformaciones aplicadas directamente */
  animation: brisa 4s ease-in-out infinite; /* La animación sin transformación de escala */
}

/* Hojas existentes */
.hojas.izquierda {
  top: -55px;
  left: -350px;
  width: 150px;
  height: 150px;
  animation: brisa-izquierda 4s ease-in-out infinite;
}

.hojas.derecha {
  top: -55px;
  right: -350px;
  width: 150px;
  height: 150px;
  animation: brisa-derecha 4s ease-in-out infinite;
}

.hojas.inferior-izquierda {
  bottom: -2px;
  left: -310px;
  width: 150px;
  height: 150px;
  animation: brisa-inferior-izquierda 4s ease-in-out infinite;
}

.hojas.inferior-derecha {
  bottom: -2px;
  right: -295px;
  width: 150px;
  height: 150px;
  animation: brisa-inferior-derecha 4s ease-in-out infinite;
}

@keyframes brisa-izquierda {
  0%, 100% {
    transform: translateX(0) translateY(0) rotate(0deg) scale(1.5);
  }
  50% {
    transform: translateX(10px) translateY(5px) rotate(0deg) scale(1.5);
  }
}

@keyframes brisa-derecha {
  0%, 100% {
    transform: translateX(0) translateY(0) scaleX(-1) rotate(0deg) scale(1.5);
  }
  50% {
    transform: translateX(10px) translateY(5px) scaleX(-1) rotate(0deg) scale(1.5);
  }
}

@keyframes brisa-inferior-izquierda {
  0%, 100% {
    transform: translateX(0) translateY(0) rotate(270deg) scale(1.5);
  }
  50% {
    transform: translateX(10px) translateY(5px) rotate(270deg) scale(1.5);
  }
}

@keyframes brisa-inferior-derecha {
  0%, 100% {
    transform: translateX(0) translateY(0) scaleX(-1) rotate(270deg) scale(1.5);
  }
  50% {
    transform: translateX(10px) translateY(5px) scaleX(-1) rotate(270deg) scale(1.5);
  }
}

h3 {
  color: #3E7B31;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.Franja_Enmedio {
  background-color: #000000;
  height: 10px;
  width: 100%;
  color: white;
  margin-top: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.franja-verde {
  background-color: #A3E291;
  padding: 30px 0;
  height: auto;
  box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin: 20px 0;
}

.info-section {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: transparent;
}

.icono-info {
  width: 100px; /* Ajusta el tamaño según sea necesario */
  height: 100px;
  margin-bottom: 15px;
}

.info-box {
  padding: 40px 25px; /* Aumenta el padding superior para acomodar los iconos */
}

.info-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.image-container {
  margin-left: 20px;
}

.image-container img {
  max-width: 220px;
  max-height: 220px;
  object-fit: contain;
  border-radius: 15px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.image-container img:hover {
  transform: scale(1.1);
}

.info-box {
  background-color: #f7f7f7;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
  flex: 1;
  margin: 20px;
  max-width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-top: 3px solid #71AF61;
}

.info-box h3 {
  color: #3E7B31;
  font-size: 22px;
  margin-bottom: 15px;
  position: relative;
  padding-left: 35px;
}

.info-box h3:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 25px;
  height: 25px;
}

.info-box p {
  color: #333;
  font-size: 16px;
  font-family: 'Kaisei Decol';
}

.info-box:hover {
  transform: translateY(-12px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  background-color: #eef5e9;
}

.image-slider {
  margin-top: 30px;
}

.image-slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image-slider img.active {
  opacity: 1;
}

.cuadro-fijo {
  position: fixed;
  top: 300px;
  right: 0;
  width: 75px;
  height: 275px;
  background: linear-gradient(800deg, #579549, #A3E291); /* Gradiente atractivo */
  border-left: 3px solid #ffffff; /* Bordes más gruesos */
  border-radius: 15px 0px 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; /* Distribuye uniformemente los iconos */
  padding: 10px 0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

a.ico1, a.ico2, a.ico3, a.ico4 {
  text-decoration: none;
  color: #000000;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

a.ico1 i, a.ico2 i, a.ico3 i, a.ico4 i {
  font-size: 24px;
  font-weight: 700;
  color: rgb(14, 14, 14);
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.2); /* Fondo circular semitransparente */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s, box-shadow 0.5s;
}

a.ico1:hover i {
  color: #2992FB;
  box-shadow: 0 0 10px #2992FB, 0 0 20px #2992FB;
  transform: scale(1.2);
}

a.ico2:hover i {
  color: #00acee;
  box-shadow: 0 0 10px #00acee, 0 0 20px #00acee;
  transform: scale(1.2);
}

a.ico3:hover i {
  color: rgb(175, 39, 168);
  box-shadow: 0 0 10px rgb(175, 39, 168), 0 0 20px rgb(175, 39, 168);
  transform: scale(1.2);
}

a.ico4:hover i {
  color: #69C9D0;
  box-shadow: 0 0 10px #69C9D0, 0 0 20px #69C9D0;
  transform: scale(1.2);
}

/* Media queries para hacer el diseño responsivo */

/* Estilos para pantallas pequeñas (móviles y portátiles pequeños) */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 35px; /* Tamaño de fuente reducido para pantallas móviles y pequeñas */
  }

  h2 {
    font-size: 28px; /* Ajuste del tamaño del subtítulo */
  }

  .cabecera {
    height: 60px; /* Reducir el tamaño del header */
    font-size: 18px;
    line-height: 28px;
  }

  .Primera_Imagen {
    height: 60vh; /* Reducir la altura de la imagen principal */
  }

  .cuadro-fijo {
    width: 50px; /* Reducir el tamaño del contenedor de iconos */
    height: 200px;
    top: 200px; /* Ajustar la posición para que siempre esté visible */
  }

  .info-box {
    padding: 15px;
    margin: 10px;
    max-width: 100%;
  }

  .image-container img {
    max-width: 150px;
    max-height: 150px;
  }

  .btn-login {
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 14px; /* Hacer más pequeño el botón de login */
  }
}

/* Estilos para pantallas medianas (tabletas) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 35px;
  }

  .cabecera {
    height: 70px;
    font-size: 22px;
    line-height: 32px;
  }

  .Primera_Imagen {
    height: 70vh;
  }

  .cuadro-fijo {
    width: 60px;
    height: 240px;
    top: 250px;
  }

  .btn-login {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 16px;
  }
}
